/* Tags */
body {
  font-family: 'Acme', sans-serif;  /**/
  color: #747704;
  font-weight: 300;
}


/* Classes */
.text-thin {
  font-weight: 100;
}

.title {
  font-family: 'Fredericka the Great', cursive;
  font-size: 60px;
}

.title-logo {
  padding: 8px;
}

.horzLine {
    font-size: 1px;
    color: #7d97ad;
    line-height: 4px;

    background-color: grey;
    margin-top: -6px;
    margin-bottom: 10px;
}
